* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --borderRadius: 1.5rem;
  --contentContainerBGColor: rgb(217, 217, 217, 0.25);
  --informationContainerPadding: 1rem;
}

body {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: auto;
  margin-top: 3.1rem;
}

.form-container {
  border: solid black;
  padding: 1rem 1rem 1rem;
  background-color: var(--contentContainerBGColor);
  font-size: 1.3rem;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
}

.information-container {
  border: solid black;
  /* display: none; */
  height: 24rem;
  margin-top: 0.6rem;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  background-color: var(--contentContainerBGColor);
  font-size: 1.3rem;
  position: relative;
  padding: var(--informationContainerPadding);
}

#form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* input box */
#city {
  height: 30px;
  background-color: rgb(230, 230, 230, 0);
  font-size: 1rem;
  text-align: center;
  border: solid black;
  border-radius: 0.5rem;
}

#city:focus {
  outline: solid black;
  outline-width: 0.1rem;
}

#submit-button,
#toggle-button {
  background-color: rgb(128, 173, 200);
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  font-size: 0.9rem;
  border: solid;
}

#submit-button:hover,
#toggle-button:hover {
  background-color: rgb(146, 183, 208);
}

#submit-button:active,
#toggle-button:active {
  background-color: rgb(128, 173, 200);
}

#toggle-button-container {
  position: absolute;
  bottom: var(--informationContainerPadding);
  right: var(--informationContainerPadding);
  background-color: rgb(230, 230, 230, 0);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#toggle-button {
  height: 2.6rem;
  width: 8rem;
}

.info-tag {
  margin-top: 0.4rem;
}

#info-details-container {
  display: flex;
}

#info-fields {
  flex: 1;
}

#info-values {
  flex: 1;
}
